[Unit]
Description=Scrape coffee price from amazon
Documentation=https://example.com
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=ec2-user
ExecStart=bash /home/ec2-user/amazon_price_scraper/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target